.content_s {
    width: 60%;
}
.title {
    padding-left: 15px;
}
@media (max-width: 2000px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 1600px) {
    .content {
        width: 100%;
    }
}