:root {
  --bg: #fbfaf6;
  --accent-bg: #f4f3ef;
  --text: #1d1b1c;
  --accent-text: #a7a5a6;
  --white: #ffffff;
  --accent: #7ed0f8;
  --accent-light: #c4ecff;
  --border: #d1d0d1;
  --success: #2f9d51;
  --error: #da012c;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
}