.content__s {
    width: 60%;
    min-width: 60%;
}

.notifications__table {
    width: 100%;
}
.title {
    padding-left: 15px;
}

@media (max-width: 2000px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 1600px) {
    .content {
        width: 100%;
    }
}