.sidebar {
    width: 300px;
    flex-shrink: 0;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    padding: 30px;

    background-color: var(--accent-bg);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
.sidebar__link {
    width: 100%;
    height: 50px;
    color: var(--accent-text);
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 30px;
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 400;
}
.sidebar__link.sidebar__link--active {
    background-color: var(--accent-light);
    color: var(--accent);
    border-radius: 7px;
}